
# Environments
.env
.venv
*env/
venv/

#csv files
*.csv

# my testing codes
*testing.py

#json files
*.json

#config
*config*

#my simples
my*

*pyc
airflow*
logs


# in dbt
.gitkeep
dbt_packages/
logs/
